
*{
    margin: 0%;
    padding: 0%;
}

.imagem{
    width: 100%;
    position: absolute;
    z-index: -1;
    object-fit: cover;
    
}
.login{
    font-size: 14px;
    font-family: var(--fonte-secundaria);
    color:black;
    margin: 5%;
   
}
.centralizar {
    display: flex;
    justify-content: center;
    
    
}
.borde{
    border: 2px solid black;
    background-color: var(--cor-secundaria);
    width: 30%;
    margin-top: 10%;
    border-radius: 5%;
    background-color: rgb(176, 224, 243);

}

  .formulario{
    margin-left: 10px; 
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px; 
     background-color: #f8f9fa;
  }
  .formulario-container {
    display: flex;
    gap: 1px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1px;
  }

  .form-container {
    border: 1px solid #007bff;
    border-radius: 10px;
    padding: 5px;
    background-color: #f8f9fa;
    width: 300px;
  }

  .form-group {
    margin-bottom: 10px;
  }