<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link css e bootstrap  -->
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <title>Lista de Clientes</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="@{/home}">Viptech Teleinfórmatica</a>
              </li>
              <li class="nav-item">
                 <a class="nav-link" th:href="@{/cadastrarClienteTg}">Novo Cliente 👨</a>
              </li>
                <li class="nav-item">
                 <a class="nav-link" th:href="@{/login}">Sair</a>
              </li>
            </ul>
          </nav>
          <br>
    </header>
    <main>
      <h4 class="formulario">Faça sua Busca:</h4>
       <hr>
     <form action="/pesquisarTg" method="get">
       <input type="text" name="contrato" placeholder="Digite o contrato" required>
       <button type="submit">Buscar</button>
     </form>
    <div th:if="${resultados != null and !resultados.isEmpty()}">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Empresarial</th>
            <th>Contrato</th>
            <th>Sala</th>
            <th>Cliente</th>
          </tr>
        </thead>
        <tbody>
             
          <tr th:each="tg : ${resultados}">
            <td th:text="${tg.id}"></td>
            <td th:text="${tg.empresarial}"></td>
            <td th:text="${tg.contrato}"></td>
            <td th:text="${tg.sala}"></td>
            <td th:text="${tg.cliente}"></td>
          </tr>
         
        </tbody>
      </table>
    </div>
    <div th:if="${resultados != null and resultados.isEmpty()}">
    <p>Nenhum resultado encontrado.</p>
    </div>

       <h2 style="text-align: center;"> 🧾 Lista de Clientes</h2>
       <section class="formulario">
      <table class="table table-bordered border-black table-hover" style="text-align: center; "  >
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Empresarial</th>
            <th scope="col">Contrato</th>
            <th scope="col">Sala</th>
            <th scope="col">Cliente</th>
            <th scope="col">Ramal</th>
            <th scope="col">Status</th>
            <th scope="col">+Detalhes</th>
            <th scope="col">Atualizar</th>
          </tr>
        </thead>
           <tr th:each="tg : ${clienteTg}">
                <td th:text="${tg.id}"></td>
                <td th:text="${tg.empresarial}"></td>
                <td th:text="${tg.contrato}"></td>
                <td th:text="${tg.sala}"></td>
                <td th:text="${tg.cliente}"></td>
                <td th:text="${tg.ramal}"></td>
                <td th:text="${tg.status}"></td>
                <td><a th:href="@{/detalheThomasGrahamForm/{id}(id=${tg.id})}">🔍</a></td> 
                <td><a th:href="@{/atualizarThomasGrahamForm/{id}(id=${tg.id})}">✏</a></td>
             </tr>
      </table>
    </section>
    </main>
    <footer>

    </footer>
    
</body>
</html>